<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        .myCards {
            background: no-repeat center center fixed; ;
            background-image: url("{{artistAlbums.[0].images.[0].url}}");
            background-size: cover;
        }
    </style>
</head>
<body>

      <div class="row row-cols-4 row-cols-md-4 myCards">
        {{#each artistAlbums}}
        
        {{> albumsCard this}}

        {{/each}}
    </div>
</body>
</html>