<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .myCards {
            background: no-repeat center center fixed; ;
            background-image: url("{{artistsArray.[0].images.[0].url}}");
            background-size: cover;
        }
    </style>
</head>
<body>
    
    <div class="row row-cols-5 row-cols-md-5 myCards" style="width: 100%;">
        {{#each artistsArray}}

        {{> artistCard this}}
        
        {{/each}}
    </div>

</body>
</html>